
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Akrobat', sans-serif;
}
.hero{
    background-image: url(../img/buy_heo.png);
    background-size: cover;
}
#navbar{
    z-index: 999;
    position: fixed;
    position: top;
    top: 0;
    width: 100%;
    padding-bottom: 35px;
    // background-color: #4F5563;
    transition: all .1s;
}
.nav-colored{
    background-color: #121a1ddb;
    backdrop-filter: blur(10px);
}
.navb-white{
    background-color: #fff;
    backdrop-filter: blur(10px);
}
.nav-transparent{
    background-color: transparent;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 46px;
    justify-content: space-between;

    &__middle{
        font-size: 19px;
        max-width: 702px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      
        &-link{
            text-decoration: none;
            color: #fff;

         
        }
        .activeLink{
            border-bottom: 1px solid #fff;
            // margin-top: 3px;
        }
        &-link::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: #fff;
            transition: width .3s;

           margin-top: 3px;
        }
        &-link:hover::after {
            width: 100%;
            //transition: width .3s;
        }
    }
    &__right{
        a{
            text-decoration: none;
            color: #fff;
            font-size: 30px;
            font-family: 'Akrobat Bold', sans-serif;
            letter-spacing: 2px;
        }
    }
}
.main{
    font-size: 74px;
   
    font-family: 'Akrobat ExtraBold', sans-serif;
    font-weight: bold;
    color: #fff;
    // margin-top: 355px;
    // padding-top: 460px;
    padding-bottom: 150px;
 
  
.text{
    position: relative;
    padding-top: 420px;
    .heroLogo{
        position: absolute;
        top: -80px;
    }
}
    &__title{
        text-transform: uppercase;
        margin-left: 100px;
        letter-spacing: 4px;
        max-width: 940px;
        width: 100%;
        
       
       
        
    }

    &__subtitle{

        color: rgba(255, 255, 255, 1);
        font-size: 26px;
        font-family: 'Akrobat', sans-serif;
        margin-left: 100px;
        margin-top: 20px;
        letter-spacing: 1px;
        max-width: 540px;
        width: 100%;
        padding-right: 20px;
    }
}
.instalmentSection{
    background-image: url(../img/instalment.png);
    background-repeat: no-repeat;
   background-size: contain;
    background-position: right;
//    height: 850px;
.instalment{
      
        &__left{
            &-title{
                font-size: 74px;
                
                font-family: 'Akrobat ExtraBold', sans-serif;
                font-weight: bold;
               color: rgba(51, 51, 51, 1);
                // margin-top: 355px;
                padding-top: 266px;
                padding-bottom: 16px;
                text-transform: uppercase;
                margin-left: 100px;
                // letter-spacing: 4px;
                // max-width: 940px;
                width: 100%;
            }
            &-subtitle{
            max-width: 436px;
            width: 100%;
            color: rgba(51, 51, 51, 1);
            font-size: 30px;
            margin-left: 100px;
            padding-bottom: 312px;

            }
        }
    }
}
.ipotekaSection{
    background-image: url(../img/ipotekaBckg.png);
    margin-top:-135px;
    // height: 500px;
    .ipoteka{
     &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
        &-left{
            
            .ipotekaTitle{
                font-size: 74px;
                
                font-family: 'Akrobat ExtraBold', sans-serif;
                font-weight: bold;
               color: rgba(255, 255, 255, 1);
                // margin-top: 355px;
                // padding-top: 266px;
                // padding-bottom: 16px;
                text-transform: uppercase;
                margin-left: 100px;
                // letter-spacing: 4px;
                // max-width: 940px;
                width: 100%;
            }
            .ipotekaSubtitle{
                font-size: 35px;
                line-height: 42px;
                color: rgba(255, 255, 255, 1);
                padding-top: 40px;
                margin-left: 100px;
            }
            .lists{
               
                margin-left: 100px;
                font-family: 'Akrobat', sans-serif;
                font-weight: 500;
                padding-top: 33px;

                .list{
                    font-size: 25px;
                    color: rgba(255, 255, 255, 1);
                    line-height: 35px;
                    padding-bottom: 29px;
               

                    .circle{
                        margin-bottom: 4px;
                        margin-right: 8px;
                    }
                }
            }
            .ipotekaSecondTitle{
                font-size: 74px;
                font-weight: 800;
                font-family: 'Akrobat ExtraBold', sans-serif;
                line-height: 88.8px;
                color: rgba(255, 255, 255, 1);
                margin-left: 100px;
                width: 642px;
          
            }
        }
        &-right{

        }
     }
     &__bottom{
         margin: 0 auto;
         margin-top: 76px;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        padding-bottom: 40px;
        .banks{
            transition: all .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
     }
    }
}
.footer{
   
    display: flex;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    padding-bottom: 45px;

        &__info{
            margin-left: 355px;
            padding-top: 100px;
            &-contacts{
                font-size: 74px;
                font-weight: 800;
                font-family: 'Akrobat ExtraBold', sans-serif;
                line-height: 88.8px;
                color: rgba(255, 255, 255, 1);
                padding-bottom: 43px;

            }
            &-location{
                color: rgba(255, 255, 255, 1);
                font-weight: 700;
                font-family: 'Akrobat', sans-serif;
                font-size: 23px;
                line-height: 27.6px;
                text-decoration: none;
                

            }
            &-number{
                color: rgba(255, 255, 255, 1);
                font-size: 32.34px;
                line-height: 39px;
                font-weight: 700;
                font-family: 'Akrobat', sans-serif;
                padding-bottom: 51px;
                padding: 15px;

            }
            &-download{
                display: flex;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 60px;
                img{
                    margin-bottom: 0;
                    margin-right: 10px;
                }
                a{
                    text-decoration: none;
                    color:  rgba(255, 255, 255, 1);
                    
                    span{
                        border-bottom: 1px solid #fff;
                    }
                }
            }
            &-button{
                font-size: 18px;
                color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(255, 255, 255, 1);
                padding: 22px 69px;
                background-color: unset;
                border-radius: 100px;
                cursor: pointer;
                transition: all .3s;
                margin-bottom: 187px;
                &:hover{
                    color: rgba(51, 51, 51, 1);
                    background-color: rgba(255, 255, 255, 1);
                }
            }
            &-sub{
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
                margin-bottom: 19px;
              
            }
        }
}