
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Akrobat', sans-serif;
}
.hero{
    background-image: url(../img/gallery.png);
    background-size: cover;
}
#navbar{
    z-index: 999;
    position: fixed;
    position: top;
    top: 0;
    width: 100%;
    padding-bottom: 35px;
    // background-color: #4F5563;
    transition: all .1s;
}
.nav-colored{
    background-color: #121a1ddb;
    backdrop-filter: blur(10px);
}
.navb-white{
    background-color: #fff;
    backdrop-filter: blur(10px);
}
.nav-transparent{
    background-color: transparent;
}
.navbar{
    display: flex;
    align-items: center;
    padding-top: 46px;
    justify-content: space-between;

    &__middle{
        font-size: 19px;
        max-width: 702px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      
        &-link{
            text-decoration: none;
            color: #fff;

         
        }
        .activeLink{
            border-bottom: 1px solid #fff;
            margin-top: 3px;
        }
        &-link::after {
            content: '';
            display: block;
            width: 0;
            height: 1px;
            background: #fff;
            transition: width .3s;

           margin-top: 3px;
        }
        &-link:hover::after {
            width: 100%;
            //transition: width .3s;
        }
    }
    &__right{
        a{
            text-decoration: none;
            color: #fff;
            font-size: 30px;
            font-family: 'Akrobat Bold', sans-serif;
            letter-spacing: 2px;
        }
    }
}
.main{
    font-size: 74px;
   
    font-family: 'Akrobat ExtraBold', sans-serif;
    font-weight: bold;
    color: #fff;
    // margin-top: 355px;
    padding-top: 610px;
    padding-bottom: 162px;
 
  
.text{
    position: relative;
  
}
    &__title{
        text-transform: uppercase;
        margin-left: 100px;
        letter-spacing: 4px;
        max-width: 940px;
        width: 100%;
        
       
       
        
    }

    &__subtitle{

        color: rgba(255, 255, 255, 1);
        font-size: 26px;
        font-family: 'Akrobat', sans-serif;
        margin-left: 100px;
        margin-top: 20px;
        letter-spacing: 1px;
        max-width: 540px;
        width: 100%;
        padding-right: 20px;
    }
}
.color{
    &__top{
        &-title{
            font-size: 74px;
            font-weight: 800;
            font-family: 'Akrobat ExtraBold', sans-serif;
            color: rgba(51, 51, 51, 1);
            line-height: 88.8px;
            padding-top: 115px;
            padding-bottom: 39px;
            text-align: left;
        }
    }
    &__bottom{
       
    }
}
.floor{
    background-image: url(../img/floors.png);
    .floors{
        &__top{
            display: flex;
            align-items: center;
            padding-top: 69px;
            &-left{
                max-width: 521px;
                width: 100%;
                margin-right: 151px;
                .floorTitle{
                    font-size: 74px;
                    // font-weight: 800;
                    font-family: 'Akrobat ExtraBold', sans-serif;
                    color: rgba(255, 255, 255, 1);
                    line-height: 88.8px;
                
                    padding-bottom: 15px;
                    text-align: left;
                }
                .floorSubtitle{
                    font-size: 23px;
                    color: #FFFFFF;
                    line-height: 33px;
                    font-weight: 500;
                    p{
                        padding-bottom: 30px;
                    }
                }
            }
            &-right{}
        }
        &__middle{
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 106px;
        
            .floorCard{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 63px;
                p{  
                    margin-top: 25px;
                    font-size: 23px;
                    color: #FFFFFF;
                    line-height: 33px;
                    font-weight: 500;
                    width: 204px;
                    
                }
            }
        }
        &__bottom{
            display: flex;
            justify-content: space-between;
            text-align: center;
            margin-top: 93px;
            padding-bottom: 63px;
            .floorCard{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 63px;
                p{  
                    margin-top: 25px;
                    font-size: 23px;
                    color: #FFFFFF;
                    line-height: 33px;
                    font-weight: 500;
                    width: 204px;
                    
                }
            }
        }
    }
}



.footer{
   
    display: flex;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    padding-bottom: 45px;

        &__info{
            margin-left: 355px;
            padding-top: 100px;
            &-contacts{
                font-size: 74px;
                font-weight: 800;
                font-family: 'Akrobat ExtraBold', sans-serif;
                line-height: 88.8px;
                color: rgba(255, 255, 255, 1);
                padding-bottom: 43px;

            }
            &-location{
                color: rgba(255, 255, 255, 1);
                font-weight: 700;
                font-family: 'Akrobat', sans-serif;
                font-size: 23px;
                line-height: 27.6px;
                text-decoration: none;
                

            }
            &-number{
                color: rgba(255, 255, 255, 1);
                font-size: 32.34px;
                line-height: 39px;
                font-weight: 700;
                font-family: 'Akrobat', sans-serif;
                padding-bottom: 51px;
                padding: 15px;

            }
            &-download{
                display: flex;
                align-items: center;
                margin-top: 50px;
                margin-bottom: 60px;
                img{
                    margin-bottom: 0;
                    margin-right: 10px;
                }
                a{
                    text-decoration: none;
                    color:  rgba(255, 255, 255, 1);
                    
                    span{
                        border-bottom: 1px solid #fff;
                    }
                }
            }
            &-button{
                font-size: 18px;
                color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(255, 255, 255, 1);
                padding: 22px 69px;
                background-color: unset;
                border-radius: 100px;
                cursor: pointer;
                transition: all .3s;
                margin-bottom: 187px;
                &:hover{
                    color: rgba(51, 51, 51, 1);
                    background-color: rgba(255, 255, 255, 1);
                }
            }
            &-sub{
                font-size: 16px;
                color: rgba(255, 255, 255, 1);
                margin-bottom: 19px;
              
            }
        }
}