.burger,
.lotsSection .lotsMobile,
.mob,
.mobileMap,
.mobileRent {
    display: none
}


.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Akrobat", sans-serif;
}

.hero {
  background-image: url(../img/investment.jpg);
  background-size: cover;
}

#navbar {
  z-index: 999;
  position: fixed;
  position: top;
  top: 0;
  width: 100%;
  padding-bottom: 35px;
  transition: all 0.1s;
}

.nav-colored {
  background-color: rgba(18, 26, 29, 0.8588235294);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.navb-white {
  background-color: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.nav-transparent {
  background-color: transparent;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 46px;
  justify-content: space-between;
}
.navbar__middle {
  font-size: 19px;
  max-width: 702px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar__middle-link {
  text-decoration: none;
  color: #fff;
}
.navbar__middle .activeLink {
  border-bottom: 1px solid #fff;
}
.navbar__middle-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
  margin-top: 3px;
}
.navbar__middle-link:hover::after {
  width: 100%;
}
.navbar__right a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-family: "Akrobat Bold", sans-serif;
  letter-spacing: 2px;
}

.main {
  font-size: 74px;
  font-family: "Akrobat ExtraBold", sans-serif;
  font-weight: bold;
  color: #fff;
  padding-top: 520px;
  padding-bottom: 162px;
}
.main .text {
  position: relative;
}
.main__title {
  text-transform: uppercase;
  margin-left: 100px;
  letter-spacing: 4px;
  max-width: 400px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.main__title:before {
  content: "";
  display: block;
  background: url('../img/circle_wave.svg') no-repeat;
  background-size: contain;
  width: 249px;
  height: 249px;
  position: absolute;
  left: -115px;
  top: -100px;
  z-index: -1;
}
.main__subtitle {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-family: "Akrobat", sans-serif;
  margin-left: 100px;
  margin-top: 20px;
  letter-spacing: 1px;
  max-width: 540px;
  width: 100%;
  padding-right: 20px;
}

.importantText {
  padding-bottom: 55px;
  margin-left: 96px;
}
.importantText .importantTop {
  font-size: 74px;
  font-weight: 800;
  font-family: "Akrobat", sans-serif;
  color: rgb(51, 51, 51);
  line-height: 88.8px;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
}
.importantBottom {
  color: #333333;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}
.important {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.important__left {
  margin-left: 96px;
}
.important__left-lists {
  max-width: 500px;
  width: 100%;
}
.important__left-lists .list {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  padding-bottom: 30px;
  text-align: left;
  padding-right: 55px;
}
.important__left-lists .list img {
  margin-top: 10px;
  margin-right: 15px;
}

.ifnoBckg {
  background-image: url(../img/slider_section.png);
  background-size: cover;
  background-position: center;
}
.ifnoBckg img {
  padding-top: 100px;
  padding-bottom: 100px;
}

.sliderSection {
    background-image: url(../img/buyback.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.aboutDeveloper {
  margin-top: 100px;
  display: flex;
  padding-bottom: 50px;
  position: relative;
  justify-content: space-between;
}
.aboutDeveloper__left {
  padding-left: 95px;
  padding-top: 70px;
  padding-right: 50px;
}
.aboutDeveloper__left-subtitle button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  padding: 22px 75px;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s;
  margin-bottom: 45px;
  display: block;
  margin-top: 50px;
}
.aboutDeveloper__left img {
  margin-bottom: 70px;
}
.aboutDeveloper__left-title {
  color: rgb(255, 255, 255);
  font-family: "Akrobat Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 74px;
  line-height: 89px;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}
.aboutDeveloper__left-subtitle {
  font-size: 23px;
  color: rgb(255, 255, 255);
  padding-bottom: 50px;
  padding-right: 150px;
}
.aboutDeveloper__left-contacts {
  display: flex;
  align-items: stretch;
}
.aboutDeveloper__left-contacts .left_block {
  display: flex;
  flex-direction: column;
}
.aboutDeveloper__left-contacts a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.aboutDeveloper__left-contacts .phone {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.aboutDeveloper__left-contacts .location {
  padding-bottom: 15px;
  padding-left: 0;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.aboutDeveloper__right .right_block {
  display: flex;
  flex-direction: column;
}
.aboutDeveloper__right .right_block a {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #414650;
  margin-bottom: 15px;
  padding: 0!important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Akrobat Bold", sans-serif;
  text-decoration: none;
}
.aboutDeveloper__right .right_block a img {
  margin: 0 9px 0 0;
}
.aboutDeveloper__right .right_block .phone {
  margin-bottom: 95px;
}
.aboutDeveloper__right .right_block a.policy {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #414650;
}
.aboutDeveloper__left .footerDownload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
}
.aboutDeveloper__left .footerDownload img {
  margin-bottom: 0;
  margin-right: 15px;
  width: 32px;
  height: 32px;
}
.aboutDeveloper__left .footerDownload a {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.aboutDeveloper__left .footerDownload a span {
  border-bottom: 1px solid #fff;
}
.aboutDeveloper__left .policy {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #fff;
}
.aboutDeveloper__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.aboutDeveloper__right img {
  margin-bottom: 160px;
}

.aboutDeveloper__right .logodev {
  width: 225px;
}

.copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #BBBBBB;
}

.aboutDeveloper__left-subtitl {
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.03em;
  font-family: "Akrobat Bold", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
}

.left_subtitle_cont {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.left_subtitle_cont > img {
  margin-bottom: 0;
  margin-left: 95px;
}

.aboutDeveloper__left-subtitl_small {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
}

.foot_consult {
  padding: 28px 26px 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
}

.foot_consult_item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.foot_consult_item_2 {
  position: relative;
  left: 20px;
}

.foot_consult_item img {
  margin-bottom: 30px;
}

.foot_consult_item_2 img {
  margin-bottom: 13px;
}

.foot_consult_item span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #BBBBBB;
  max-width: 180px;
}

.copyright_block {
  margin-top: 20px;
  margin-bottom: 0;
}

@media(min-width: 768px){
  .pc_hide {
    display: none
  }
}

.side_menu {
  display: none;
}

@media(max-width:767px) {

    #navbar {
      position: static;
    }

    .nav-colored {
        -webkit-backdrop-filter: none;
        backdrop-filter: none
    }

    .side_menu {
        display: none;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('../img/mob_menu.png');
        z-index: 3;
    }

    .menu_cont {
        padding: 40px 30px;
    }

    .side_menu.active {
        display: flex
    }

    .side_menu .navbar__middle-link {
        font-weight: 500;
        font-size: 23px;
        line-height: 28px;
        letter-spacing: 0.02em;
        margin-bottom: 26px;
        display: block
    }

    .side_menu .navbar__middle-link.activeLink {
        color: #C49B6C;
    }

    .container {
        max-width: 540px;
        padding-right: 25px;
        padding-left: 25px
    }

    .left_veritcal_block,
    .lotsSection .lots .lotBckg,
    .navbar__middle,
    .navbar__right {
        display: none
    }

    .mobileRight .mob {
        display: block
    }

    .menu_toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 17px
    }

    .menu-btn {
        display: block;
        width: 100%;
        height: 100%;
        background: 0 0;
        border-radius: 50%;
        position: relative
    }

    .menu-btn span,
    .menu-btn span::after,
    .menu-btn span::before {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -12px;
        width: 24px;
        height: 3px;
        border-radius: 2px;
        background-color: #fff
    }

    .menu-btn span::after,
    .menu-btn span::before {
        content: '';
        display: block;
        transition: .2s
    }

    .menu-btn span::before {
        transform: translateY(-8px)
    }

    .menu-btn span::after {
        transform: translateY(6px)
    }

    .menu-btn.menu-btn_active span {
      background: transparent;
    }

    .menu-btn.menu-btn_active span::before {
        transform: rotate(45deg);
    }

    .menu-btn.menu-btn_active span::after {
        transform: rotate(-45deg);
    }

    .main__title:before {
      display: none
    }

    .left_subtitle_cont {
        flex-direction: column;
    }

    .aboutDeveloper__left-subtitl {
        font-size: 24px;
        line-height: 28px
    }

    .foot_consult {
        margin: 30px 0 0;
        padding: 15px;
        flex-direction: column;
        width: 100%;
        align-items: flex-start
    }

    .foot_consult_item_2 {
        position: static;
    }

    .copyright_block {
        flex-direction: column-reverse;
    }

    .foot_consult_item img {
        margin: 10px 0
    }

    .main {
        padding-top: 40px
    }

    .mob_hide {
      display: none !important
    }

    .pc_hide {
      display: flex
    }

    .aboutDeveloper__left-title,
    .carousel__left-title,
    .charTitle,
    .location__title,
    .lotsSection .lots__title,
    .main__title,
    .premium__title,
    .slider__top-left .sliderTitle, .importantText .importantTop {
        font-size: 30px;
        line-height: 36px
    }

    .location__subtitle,
    .premium__subtitle {
        line-height: 28px;
        font-size: 20px
    }

    .main__title {
        margin: 0 0 12px;
    }   

    .aboutDeveloper__left {
        padding: 0;
        width: 100%
    }

    .aboutDeveloper__left .footerDownload,
    .aboutDeveloper__left img,
    .aboutDeveloper__left-subtitle button {
        margin: 30px 0
    }

    .aboutDeveloper__left-title {
        margin-bottom: 15px
    }

    .aboutDeveloper__left-subtitle {
        padding: 0 0 30px
    }

    .aboutDeveloper {
        flex-direction: column-reverse;
        padding-bottom: 50px;
        margin-top: 40px
    }

    .aboutDeveloper__right .right_block {
        padding: 0;
        margin: 30px 0
    }

    .aboutDeveloper__left .left_block>img,
    .aboutDeveloper__right {
        display: none
    }

    .aboutDeveloper__left-contacts {
        flex-direction: column-reverse
    }

    .aboutDeveloper__left .footerDownload img {
        margin-top: 0
    }
    .main {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .main .text {
      padding: 40px 25px 50px
    }
    .main img {
      width: 100%;
      height: auto
    }
    .main__subtitle {
      font-weight: 700;
      font-size: 23px;
      line-height: 29px;
      margin: 22px 0 46px
    }
    .importantText {
      margin: 0;
      padding-bottom: 20px
    }
    .importantText .importantTop {
      padding: 60px 0 10px;
    }
    .importantBottom {
      font-size: 20px;
      line-height: 28px
    }
    .important__left {
      margin-left: 0
    }
    .important {
      flex-direction: column;
    }
    .important__right img {
      width: 100%
    }
    .ifnoBckg {
      background: none;
      overflow: hidden;
    }
    .ifnoBckg .container {
      padding: 0
    }
    .ifnoBckg img {
      padding: 0;
    }
	.sliderSection {
      background: #414650;
      overflow: hidden;  
      background-position: center;
    }
}